<% if(datas!=null){ %>
<!--保存数据时的过度效果--->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	  <tr>
	    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
	      <tr>
	        <td height="24" bgcolor="#353c44"><table width="100%" border="0" cellspacing="0" cellpadding="0">
	          <tr>
	            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
	              <tr>
	                <td width="6%" height="19" valign="bottom"><div align="center"><img src="images/tb.gif" width="14" height="14" /></div></td>
	                <td width="94%" valign="bottom"><span class="STYLE1"> 入住基本信息列表</span></td>
	              </tr>
	            </table></td>
	            <td><div align="right"><span class="STYLE1">
	              <input type="checkbox" name="checkbox11" id="checkbox11" />
	              全选      &nbsp;&nbsp;<a class="addBtn"><img src="images/add.gif" width="10" height="10" /> 添加</a>   &nbsp; <a class="save"><img src="images/del.gif" width="10" height="10" /> 保存</a>   &nbsp;&nbsp;<a class="edit"><img src="images/edit.gif" width="10" height="10" /> 编辑</a>   &nbsp;</span><span class="STYLE1"> &nbsp;</span></div></td>
	          </tr>
	        </table></td>
	      </tr>
	    </table></td>
	  </tr>
	  <tr>
	    <td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce">
	      <tr class="">
	        <td width="4%" height="20" bgcolor="d3eaef" class="STYLE10"><div align="center">
	          <input type="checkbox" name="checkbox" id="checkbox" />
	        </div></td>
	        <td class="thead1" id="roomTypeId" width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">房间类型ID</span></div></td>
	        <td class="thead1" id="roomTypeName" width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">房间类型名称</span></div></td>
	        <td class="thead1" id="bedType" width="8%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">床型</span></div></td>
	        <td class="thead1" id="bedNum" width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">床数量</span></div></td>
	        <td class="thead1" id="area" width="8%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">房间面积</span></div></td>
	        <td class="thead1" id="imgUrl" width="20%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">图片路径</span></div></td>
	        <td class="thead1" id="price" width="8%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">房间价格</span></div></td>
	        <td width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">基本操作</span></div></td>
	      </tr>
	      <% for(var i=0;i<datas.length;i++){%>
	      <tr>
	        <td height="20" bgcolor="#FFFFFF"><div align="center">
	          <input type="checkbox" name="checkbox2" class="checkbox2" />
	        </div></td>
	        <td height="20" bgcolor="#FFFFFF" class="STYLE6"><div align="center"  contenteditable="false"><span class="STYLE19"><%= datas[i].roomTypeId%></span></div></td>
	        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center" contenteditable="false"><span><%= datas[i].roomTypeName%></span></div></td>
	        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center" contenteditable="false"><span><%= datas[i].bedType%></span></div></td>
	        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center" contenteditable="false"><span><%= datas[i].bedNum%></span></div></td>
	        <td height="20" bgcolor="#FFFFFF"><div align="center" class="STYLE21" contenteditable="false"><span><%= datas[i].area%></span>m<sup>2</sup></div></td>
	        <td height="20" bgcolor="#FFFFFF"><div align="center" class="STYLE21" contenteditable="false"><span><%= datas[i].imgUrl%></span></div></td>
	        <td height="20" bgcolor="#FFFFFF"><div align="center" class="STYLE21" contenteditable="false"><span><%= datas[i].price%></span>￥</div></td>
	        <td height="20" bgcolor="#FFFFFF"><div align="center" class="STYLE21" contenteditable="false"><a class="deleteBtn" value="<%= datas[i].roomTypeId%>">删除</a> | 详细</div></td>
	      </tr>
	      <% } %>
	    </table></td>
	  </tr>
	  <tr>
	    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
	      <tr>
	        <td width="33%"><div align="left"><span class="STYLE22">&nbsp;&nbsp;&nbsp;&nbsp;共有<strong> 243</strong> 条记录，当前第<strong> 1</strong> 页，共 <strong>10</strong> 页</span></div></td>
	        <td width="67%"><table width="312" border="0" align="right" cellpadding="0" cellspacing="0">
	          <tr>
	            <td width="49"><div align="center"><img src="images/main_54.gif" width="40" height="15" /></div></td>
	            <td width="49"><div align="center"><img src="images/main_56.gif" width="45" height="15" /></div></td>
	            <td width="49"><div align="center"><img src="images/main_58.gif" width="45" height="15" /></div></td>
	            <td width="49"><div align="center"><img src="images/main_60.gif" width="40" height="15" /></div></td>
	            <td width="37" class="STYLE22"><div align="center">转到</div></td>
	            <td width="22"><div align="center">
	              <input type="text" name="textfield" id="textfield"  style="width:20px; height:12px; font-size:12px; border:solid 1px #7aaebd;"/>
	            </div></td>
	            <td width="22" class="STYLE22"><div align="center">页</div></td>
	            <td width="35"><img src="images/main_62.gif" width="26" height="15" /></td>
	          </tr>
	        </table></td>
	      </tr>
	    </table></td>
	  </tr>
</table>
<% } else{ %>
<div>没有请求到任何数据</div>
<% } %>
<script type="text/javascript">
	//将选中的置为可编辑状态
	$(".edit").click(function(){
		alert("编辑");
		editText();
	});
	//获取要保存的信息
	$(".save").click(function(){
		var jsonData = getCheckedRm();
		if(jsonData!=null){
			$(".excess").show();
			var str = JSON.stringify(jsonData);
			var url1="http://localhost:8080/springmvcDemo1/roomType/updateBatch";
			var response = ajaxPost(url1,str,false);
			if(response!=null){
				var success = response.meta.success;
				if(success){
					var url2 = "http://localhost:8080/springmvcDemo1/roomType/select";
					var url3 = "http://localhost/hotelBg/template/roomTypeTmp.ejs";
					var html = loadHtml(url2,url3,"datas");
					$(".content").html(html);
					$(".excess").hide();
				}else{
					$(".excess").hide();
					alert("更新失败");
				}
			}else{
				$(".excess").hide();
				 window.parent.parent.location="error.html";
			}
		}
	});
	//添加房间
	$(".addBtn").click(function(){
		window.location.href="addRoomType.html";
	});
	//删除
	$(".deleteBtn").click(function(){
		var rtyId = $(this).attr("value");
		var url2 = "http://localhost:8080/springmvcDemo1/roomType/delete?roomTypeId="+rtyId;
		var response = ajaxGet(url2,false);
		if(response!=null){
			var status = response.meta.success;
			if(status){
				var url2 = "http://localhost:8080/springmvcDemo1/roomType/select";
				var url3 = "http://localhost/hotelBg/template/roomTypeTmp.ejs";
				var html = loadHtml(url2,url3,"datas");
				$(".content").html(html);
			}else{
				alert(response.meta.message);
			}
		}else{
			window.parent.location="error.html";
		}
		
	});
</script>